@charset "utf-8";
$brown:#a07b4f;
$white:#ffffff;
$black:#000000;
$navFooterBg:#272727;
$footFontColor:#cacaca;
$fs13:13px;
$fs12:12px;

.container{width:980px; margin:0 auto; height:inherit}

#header{width:100%; height:75px; position:relative}
#header .logo{position:absolute; top:33px}
#header .member_menu{float:right;
	ul{padding:5px 0 20px 0;
		li{float:left; padding:0 5px;
			a{font-size:$fs13}
			&:hover{text-decoration:underline}
			&:nth-child(2){font-weight:bold}
		}
	}
}

#header .quick_menu{float:right; clear:both;
	ul li{float:left; padding:0 5px;
		a{font-size:$fs12; color:$brown}
		&:hover{text-decoration:underline; color:$brown}
		&:nth-child(2n){color:#ccc; font-weight:lighter}
	}
}

#nav{width:100%; background:$navFooterBg; height:48px;
	.menu_list{position:relative;
		&>li{float:left; line-height:48px; width:20%; text-align:center; box-sizing:border-box;
			a{color:$white; font-weight:bold; display:block}
			&:hover{background:$brown}
			ul{position:absolute; width:20%; height:200px; background:$white; border-right:1px dashed $navFooterBg; box-sizing:border-box; display:none;
				li{line-height:200%;
					a{display:block; color:$black; font-size:$fs13}
				}
			}
			ul.last_menu{border-right:none}
		}
	}
}

#content .content2 ul li{float:left; width:310px; height:280px; padding-right:25px;
	&:nth-child(3n){padding-right:0}
	a{display:block; text-align:center; font-weight:bold;
		img{width:100%; border-bottom:3px solid $black; margin-bottom:10px}
	}
}

#content .content3 h2{background:url(../images/plazamain_akmban_top.jpg) no-repeat; width:980px; height:27px; padding-bottom:50px}
#bxslider{background:#edeef3; width:100%; height:300px; padding-top:20px;
	.bxslider div{padding-left:15px; height:300px;
		strong{font-weight:bold; font-size:24px; line-height:150%}
		span{display:block; font-size:18px; padding:30px 0}
	}
	
	@for $i from 1 to 8{
		.bx-slider#{$i}{background:url(../images/bxslider#{$i}.jpg) no-repeat right top / 550px;}
	}
}


#footer{background:$navFooterBg; height:230px;
	.sns{padding-top:50px;
		a{color:$footFontColor; font-size:$fs12; display:inline-block; padding-right:30px}
	}
	.policy{padding:30px 0 20px;
		ul li{float:left; background:url(../images/footer_bg_line.gif) no-repeat 0 6px; padding:0 10px;
			&:first-child{background:none; padding-left:0}
			&:nth-child(4) a{color:#fe6e71; font-weight:bold}
			a{color:$brown; font-size:$fs13}
		}
	}
	p{color:$footFontColor; font-size:$fs13; padding-bottom:10px}
}





